
<!-- Languages Selector -->

<div class="dropdown d-inline-block">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLangSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% if site.active_lang == "en" %}
			<span class="flag-icon flag-icon-us flag-icon-squared"></span>
		{% else %}
			<span class="flag-icon flag-icon-{{ site.active_lang }}"></span>
		{% endif %}

		{{ site.langs[site.active_lang] }}
	</button>

	<div class="dropdown-menu" aria-labelledby="dropdownLangSelect">
		{% for tongue in site.languages %}
			<a 
				 class="dropdown-item"
				{% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} 
				href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}"
				>
				{% if tongue == "en" %}
					<span class="flag-icon flag-icon-us flag-icon-squared"></span>
				{% else %}
					<span class="flag-icon flag-icon-{{ tongue }}"></span>
				{% endif %}

				{{ site.langs[tongue] }}

			</a>
		{% endfor %}
	</div>
</div>



<!-- End Languages Selector -->
