
{% assign repoUrl = site.github.owner_name | append:  "/" | append: site.github.repository_name %}

<div class="cta-container mb-2">
	<a href="{{ 'https://travis-ci.org/' | append: repoUrl }}" rel="nofollow" target="_blank">
		<img 
			alt="Build Status" 
			style="max-width:100%;"
			src="{{ 'https://travis-ci.org/' | append: repoUrl | append: '.svg?branch=master' }}" 
			data-canonical-src="{{ 'https://travis-ci.org/' | append: repoUrl | append: '.svg?branch=master' }}" 
			>
	</a>

{% if site.package != null %}

	<a href="{{ 'https://packagist.org/packages/' | append: site.package }}" rel="nofollow" target="_blank">
		<img 
			alt="Latest Stable Version" 
			style="max-width:100%;"
			src="{{ 'https://poser.pugx.org/' | append: site.package | append: '/v/stable' }}" 
			data-canonical-src="{{ 'https://poser.pugx.org/' | append: site.package | append: '/v/stable' }}" 
			>
	</a>

	<a href="{{ 'https://packagist.org/packages/' | append: site.package }}" rel="nofollow" target="_blank">
		<img 
			alt="Latest Stable Version" 
			style="max-width:100%;"
			src="{{ 'https://poser.pugx.org/' | append: site.package | append: '/license' }}" 
			data-canonical-src="{{ 'https://poser.pugx.org/' | append: site.package | append: '/license' }}" 
			>
	</a>

{% endif %}

</div>

<div class="cta-container mb-2">
    <a class="btn btn-primary btn-cta" href="{{ site.github.repository_url }}" target="_blank">
    	<i class="fab fa-github"></i> 
    	{{ site.data.core.github.view }}
    </a>
</div>
