
{% if site.manifest.objectTypes | size > 0 %}


<ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">

	{% for objectType in site.manifest.objectTypes %}
	<li class="nav-item">
	    <a 
	    	class="nav-link {% if forloop.first == true %}active{% endif %}" 
	    	id="pills-{{ objectType | downcase }}-tab" data-toggle="pill" href="#pills-{{ objectType | downcase }}" role="tab" 
	    	aria-controls="pills-home" aria-selected="true">
	    	{{ objectType }}
	    </a>
	</li>
	{% endfor %}

</ul>

<div class="tab-content" id="pills-tabObjects">

	{% for objectType in site.manifest.objectTypes %}

		<div 
			class="tab-pane fade doc-section {% if forloop.first == true %}show active{% endif %}" 
			id="pills-{{ objectType | downcase }}" 
			role="tabpanel" aria-labelledby="pills-{{ objectType | downcase }}-tab">

			{%- include objects/def.infos.liquid -%}
			{%- include objects/def.config.liquid -%}
			{%- include objects/table.liquid -%}

		</div>

	{% endfor %}

</div>

{% endif %}
