
<h2 class="section-title">{{ site.data.core.objects.infos.title }}</h2>
<!-- <p>{{ site.data.core.objects.infos.desc }}</p> -->
<br />

<table class="table table-bordered table-compact" style="width:100%">

	<tr>
		<td width="20%"><strong>{{ site.data.core.objects.infos.type }}</strong></td>
		<td width="30%">{{ site.manifest.objects[objectType].description.type }}</td>
		<td width="20%"><strong>{{ site.data.core.objects.infos.name }}</strong></td>
		<td width="30%">{{ site.manifest.objects[objectType].description.name }}</td>
	</tr>

	<tr>
		<td width="20%"><strong>{{ site.data.core.objects.infos.desc }}</strong></td>
		<td colspan="3">{{ site.manifest.objects[objectType].description.description }}</td>
	</tr>

	<tr>
		<td width="25%"><strong>{{ site.data.core.objects.infos.modes }}</strong></td>
		
		{% assign syncModes = "allow_push_created, allow_push_updated, allow_push_deleted" | split: ", " %}

	    {% for syncMode in syncModes %}
			<td width="25%">
				{% include objects/syncMode.liquid %}
			</td>
	    {% endfor %}

	</tr>

</table>