<tbody>

    {% for field in fields %}

            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.id }}</td>
                <td>

				    {% if field.required and field.required != "0"  %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" 
				        		title="{{ site.data.fields.fields.required.tooltip }}"
				        		>
				            <span class="badge badge-danger p-1">
				            	<i class="fa {{ site.data.fields.fields.required.ico }}"></i>
				            </span>
				        </span>
				    {% endif %}

				    {% if field.inlist and field.inlist != "0"   %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" 
				        		title="{{ site.data.fields.fields.inlist.tooltip }}">
				            <span class="badge badge-success p-1">
				            	<i class="fa {{ site.data.fields.fields.inlist.ico }}"></i>
				            </span>
				        </span>
				    {% endif %}

				    {% if field.read == false or field.read == "0" %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" 
				        		title="{{ site.data.fields.fields.writeonly.tooltip }}">
				            <span class="badge badge-primary p-1">
				            	<i class="fa {{ site.data.fields.fields.writeonly.ico }}"></i>
				            </span>
				        </span>
				    {% endif %}

					{% if field.write == false or field.write == "0" %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" 
				        		title="{{ site.data.fields.fields.readonly.tooltip }}">
				            <span class="badge badge-info p-1">
				            	<i class="fa {{ site.data.fields.fields.readonly.ico }}"></i>
				            </span>
				        </span>
				    {% endif %}
				    
				    {% if field.tag != empty  %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" 
				        		title="{{ site.data.fields.fields.tag.tooltip }}">
				            <span class="badge badge-warning p-1 text-white">
				            	<i class="fa {{ site.data.fields.fields.tag.ico }}"></i>
				            </span>
				        </span>
				    {% endif %}				    
				    
                </td>
                <td>
                	{% assign fieldType 	= field.type %}


					{% if fieldType contains "@" %}

						{% assign listType 		= fieldType | split: '@' %}
						{% assign fieldType 	= listType[0] %}

						<!-- Objects Identifier Fields Format Block -->
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true"  data-type="{{ listType[1] }}"
				        		title="{{ site.data.fields.fields.lists.tooltip }}">
				            <span class="badge badge-success p-1">
				                <i class="fa {{ site.data.fields.fields.lists.ico }}"></i>
				            </span>
				        </span>
				        &nbsp;>&nbsp;
						<!-- End Objects Identifier Fields Format Block -->

				    {% endif %}


					{% if fieldType contains "::" %}

					    <!-- Objects Identifier Fields Format Block -->
					  	{% assign idType = fieldType | split: '::' %}
				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" data-type="{{ fieldType }}"
				         		data-content="{{ site.data.fields.fields.id.tooltip }}">
				            <span class="badge badge-primary p-1">
				                <i class="fa {{ site.data.fields.fields.id.ico }}"></i>
			                    &nbsp;{{ idType[1] | default(site.data.fields.fields.id.desc) }}
				            </span>
				        </span>
				    	<!-- End Objects Identifier Fields Format Block -->

				    {% else %}

				    	<!-- General/Simple Objects Fields Format Block -->
				    	{% assign typeLower 	= fieldType | lower %}

				        <span 	data-toggle="tooltip" data-placement="top" data-html="true" data-type="{{ fieldType }}"
				         		title="{{ site.data.fields.fields[typeLower].tooltip }}">
				            <span class="badge badge-info p-1">
				                <i class="fa {{ site.data.fields.fields[typeLower].ico }}"></i>
			                    &nbsp;{{ site.data.fields.fields[typeLower].label }}
				            </span>
				        </span>
					    <!-- End General/Simple Objects Fields Format Block -->

				    {% endif %}


                </td>
                <td>{{ field.desc }}</td>
            </tr>


    {% endfor %}

</tbody>